{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Denuncias{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'denuncia_list' %}">Denuncias</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'estadisticas_denuncias' %}">Estadísticas</a></li>
                    <li><a href="{% url 'exportar_denuncias_csv' %}">Exportar Denuncias (CSV)</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Denuncias App</p>
    </footer>


  



    
<div id="welcome-message"></div>



<script>
document.addEventListener("DOMContentLoaded", function() {
    function showWelcomeMessage() {
        const welcomeMessage = document.getElementById('welcome-message');
        welcomeMessage.innerHTML = '<p>!Proveer de conformidad que será Justicia!</p>';
        welcomeMessage.style.color = 'green';
    }

    showWelcomeMessage();
});
</script>

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    // Configuración de Typed.js
    var options = {
        strings: ["Bienvenido a la aplicación de Denuncias", "Por favor, inicia sesión para continuar."],
        typeSpeed: 50,
        backSpeed: 25,
        loop: true
    };

    var typed = new Typed("#typed-message", options);
});
</script>
{% endblock %}
</body>
</html>
